fantazscores.localhost {
	reverse_proxy 127.0.0.1:3000
}

admin.kpisight.localhost {
	reverse_proxy 127.0.0.1:3001
}

kpisight.localhost {
	reverse_proxy 127.0.0.1:3000
}

api.kpisight.localhost {
	reverse_proxy 127.0.0.1:8000
}

http://admin.kpisight.localhost {
	reverse_proxy 127.0.0.1:3001
}

http://kpisight.localhost {
	reverse_proxy 127.0.0.1:3000
}

http://api.kpisight.localhost {
	reverse_proxy 127.0.0.1:8000
}